<!DOCTYPE html>
<html>
    
    <head>
    <title>hihihi</title>
    <link rel="stylesheet" href="/stylesheets/dbcss.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </head>

    
    <body>
	<h2><span>Robot arms status</span></h2>
       <div class="frame"><iframe width=100% height=100% src="http://54.180.39.228:3000/test/"></iframe></div>
        <div class="log"></div>
    <textarea id="textarea" name="textarea" class="hehe"></textarea>

 <script>
            $(function(){
                timer = setInterval(function() {
                    $.ajax({
                       url: '/DB/',
                        dataType: 'json',
                        type: 'POST',
                        data: {'hello': 'hi',},
                        
                        success: function(result){
			var pre_val = $('#textarea').val();
			$('#textarea').val(JSON.stringify(result)+ '\r\n');
			}
                    });
                }, 1000)
            })
    </script>    

        </body>
</html>
