*{
    background-color: #E9EDF1;
}


*>h2{
	width:100%;
	text-align: center;
}
.title{
	border:1px solid black;
	padding:5px;
	background-color: #A6B8C4;
}

*>.frame{
   // background-color: aquamarine;
    border:1px solid black;
    width:50%;
    height:400px;
    float:left;
    
}

*>.log{
   // background-color: black;
    border:1px solid black;
    width:49%;
    height:400px;
    float:left;

    text-align: center;
}

*>.hehe{
   // background-color: coral;
    border:1px solid black;
    float:clear;
    width:100%;
    height:310px;
    resize: none;

}
